*.d
*.o
*.elf
*.bin
# *.exe
*.dll
*.dylib
*.so
*.so.1.0
*.lib
*.pdb
*.exp
*.pyc
*.thunderstore.zip
*.nrm
./funcs.h
patches.map
assets_extracted/
build/
compilation/
runtime/
doxygen/
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
user_build_config.json
CMakeUserPresets.json